@layer base {
  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-ExtraBold.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-Regular.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-Medium.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-SemiBold.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-MediumItalic.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-BoldItalic.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-Italic.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-Bold.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-Black.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-LightItalic.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'HK Grotesk';
    src: url('/fonts/HKGrotesk/HKGrotesk-Light.woff2') format('woff2'),
      url('/fonts/HKGrotesk/HKGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
}
